@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.background {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(bg.jpg) repeat;
	opacity: 0.1;
}

.container {
	height: 40em;
	width: 500px;
	border-radius: 10px;
	box-shadow: 2px 10px 28px 0px rgba(75, 0, 129, 0.12);
	position: relative;
	overflow: hidden;
}

.btn-div {
	display: flex;
	align-items: center;
}

.btn {
	height: 50px;
	width: 350px;
	margin: 1em 0em 0em 65px;
	border-radius: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgba(0, 128, 128, 0.62);
}

.con,.intro {
	display: flex;
	justify-content: center;
	color: #000;
	font-family: Poppins;
	font-size: 16px;
}

.con {
	margin-top: 1em;
}

.intro {
	padding: 0px 35px;
	margin-top: 8em;
	color: #5B5B5B;
}

.login,.signup {
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	border: none;
	position: relative;
	cursor: pointer;
}

.slider {
	height: 30px;
	width: 105px;
	border-radius: 50px;
	background-image: linear-gradient(to right, #008080, #008080);
	position: absolute;
	left: 80px;
	transition: all 0.3s ease-in-out;
}

.moveslider {
	left: 290px;
}

.form-section {
	height: 50em;
	width: 1000px;
	margin: 2em 0em 0em 0em;
	display: flex;
	position: relative;
	transition: all 0.5s ease-in-out;
	left: 0px;
}

.form-section-move {
	left: -500px;
}

.login-box,.signup-box {
	height: 15em;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.signup-box {
	height: 18em;
}

.pass-below {
	display: flex;
}

#check {
	height: 9px;
}

.gtPass, a, .remember {
	color: #000000;
	font-family: Poppins;
	font-size: 12px;
	text-decoration: none;

}

.gtPass {
	margin-left: 205px;
}

.inputField,.inputSign {
	height: 40px;
	width: 420px;
	outline: none;
	border: 1px solid #49BBBD;
	background-color: #ffffff;
	border-radius: 40px;
	font-size: 15px;
	padding-left: 1em;
}

.inputSign{
	font-size: 11px;
	width: 210px;	
}
.sign-field{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
	gap: 5px;
	margin: 0px 25px;
}

.clkbtn {
	width: 250px;
	border-radius: 36px;
	background-image: linear-gradient(to right, #008080, #008080);
	font-size: 16px;
	padding: 8px;
	border: none;
	cursor: pointer;
}

.heading {
	color: #000000;
	font-family: Poppins;
	font-size: 16px;
}

@media screen and (max-width: 650px) {
	.container {
		width: 300px;
	}

	.btn {
		width: 225px;
		margin: 1em 0em 0em 33px;
	}

	.slider {
		width: 75px;
		left: 42px;
	}

	.moveslider {
		left: 168px;
	}

	.gtPass {
		margin-left: 20px;
	}

	.con,
	.intro {
		font-size: 14px;
		padding: 0px 25px;
	}

	.intro {
		margin-top: 5em;
	}

	.form-section {
		margin-top: 1em;
		width: 600px;
	}

	.form-section-move {
		left: -300px;
	}

	.login-box {
		height: 21em;
	}

	.signup-box {
		height: 23em;
	}

	.inputSign{
		width: 110px;
	}
	#cnf{
		font-size: 12px;
		margin: 4px 0px 2px 0px;
		/* margin-bottom: 4px;	 */
	}
	.inputField,
	.clkbtn {
		width: 250px;
	}
}

@media screen and (max-width: 320px) {
	.container {
		width: 260px;
	}

	.btn-div {
		margin-right: 40px;
	}

	.slider {
		left: 40px;
	}

	.moveslider {
		left: 136px;
	}

	.con,
	.intro {
		padding: 0px 20px;
		font-size: 12px;
	}

	.intro {
		margin-top: 1em;
	}

	.form-section {
		margin-top: 1em;
	}

	.form-section-move {
		left: -250px;
	}

	.login-box,
	.signup-box {
		height: 25em;
		width: 250px;
	}

	#cnf{
		font-size: 11px;
		margin: 4px 0px 0px 0px;
	}

	.signup-box {
		height: 28em;
	}
	.inputSign{
		width: 93px;
		font-size: 9px;
	}

	.clkbtn,
	.inputField {
		width: 220px;
		font-size: 15px;
	}
	.heading {
		font-size: 14px;
	}
}
